{% set title = "Каталог товаров " + site %}
{% set description = "What’s cooking at your place? With your choice of Everdure under bench, wall mounted ovens or freestanding combined cooker, cooking for your friends and family will be a joy. Whichever model you choose, our ovens have been designed for simple operation and stress – free cooking." %}

{% set urlCurrent = "catalog" %}
{% set ogImage = "img/category/billboard@1x.png" %}

{% extends "template/base.html" %}

{% block content %}

{% set breadcrumbs = ['Главная','Каталог'] %}

	<section>

		<div class="billboard">

			<h1 class="h1">
				Товаровы {{ site }}
			</h1>

			<picture>

				<source srcset="/img/home/pure_white.webp" type="image/webp">
				<source srcset="/img/home/pure_white.jpg">

				<img src="/img/home/pure_white.jpg" alt="" loading="lazy" width="1980" height="600">

			</picture>

		</div>

{% include "_include/breadcrumbs.html" %}

		<div class="center hidden-sm">

			<div class="intro">

				<h2 class="h2">
					{{ title }}
				</h2>

				<p>
					{{ description }}
				</p>

			</div>

		</div>

{% include "main/category.html" %}

	</section>

{% endblock %}