{% set title = "Сушильные машины " + site %}
{% set description = "What’s cooking at your place? With your choice of Everdure under bench, wall mounted ovens or freestanding combined cooker, cooking for your friends and family will be a joy. Whichever model you choose, our ovens have been designed for simple operation and stress – free cooking." %}

{% set urlCurrent = "catalog" %}
{% set ogImage = "/img/home/grey.jpg" %}

{% extends "template/base.html" %}

{% block content %}

{% set breadcrumbs = ['Главная','Каталог','Сушильные машины'] %}

	<section>

		<div class="billboard">

			<h1 class="h1">
				Сушильные машины
			</h1>

			<picture>

				<source srcset="/img/home/grey.webp" type="image/webp">
				<source srcset="/img/home/grey.jpg">

				<img src="/img/home/grey.jpg" alt="" loading="lazy" width="1980" height="600">

			</picture>

		</div>

{% include "_include/breadcrumbs.html" %}

		<div class="center hidden-sm">

			<div class="intro">

				<h2 class="h2">
					{{ title }}
				</h2>

				<p>
					{{ description }}
				</p>

			</div>

		</div>

		<div class="technology hidden-sm">

			<div class="center">

				<ul class="technology__list">

					<li class="technology__item">

						<div class="technology__ico">

							<img src="/img/technology/1.svg" width="72" height="72" loading="lazy" alt="">

						</div>

						<strong class="technology__name">
							anti-flood stop device
						</strong>

						<p class="technology__text">

							Your appliance will never flood, when installed properly, safety is important to Everdure.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

							<img src="/img/technology/2.svg" width="72" height="72" loading="lazy" alt="">

						</div>

						<strong class="technology__name">
							14 piece setting
						</strong>

						<p class="technology__text">

							Enough room to fit all your pots and pans , so you don’t need to spend time washing dishes.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

							<img src="/img/technology/3.svg" width="72" height="72" loading="lazy" alt="">

						</div>

						<strong class="technology__name">
							6 washing Cylces
						</strong>

						<p class="technology__text">

							Different wash options to ensure your dishes are always nice and clean.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

							<img src="/img/technology/4.svg" width="72" height="72" loading="lazy" alt="">

						</div>

						<strong class="technology__name">
							6 washing Cylces
						</strong>

						<p class="technology__text">

							Different wash options to ensure your dishes are always nice and clean.

						</p>

					</li>

				</ul>

			</div>

		</div>

		<div class="cat-list">

{% set list = [
	{
		available : true,
		buy : true
	},
	{
		available : false,
		buy : false
	},
	{
		available : true,
		buy : false
	},
	{
		available : true,
		buy : false
	}
] %}

{% for item in list %}

			<article class="cat-list__item">

				<div class="cat-list__box center">

					<div class="cat-list__desc">

						<div class="buy-product">

							<div class="buy-product__title">

								<a href="/product/" class="h2">
									60cm Cast Iron Trivets
								</a>

							</div>

							<div class="visible-sm">

								<div class="cat-list__img">

									<a href="/product/">

										<picture>

											<source srcset="/img/cat-list/product@1x.webp 1x, /img/cat-list/product@2x.webp 2x" type="image/webp">

											<source srcset="/img/cat-list/product@1x.png 1x, /img/cat-list/product@2x.png 2x">

											<img src="/img/cat-list/product@1x.png" alt="60cm Cast Iron Trivets">

										</picture>

									</a>

								</div>

							</div>

							<p class="buy-product__text">
								это премиальный бренд, созданный группой талантливых разработчиков, имеющих опыт работы на ведущих заводах по производству бытовой техники в Европе.
							</p>

							<form action="/" class="buy-product__cart{% if item.buy %} in-cart{% endif %}">

								<input type="hidden" name="product" value="123456789">
								<input type="hidden" name="mode" value="{% if item.buy %}del{% else %}add{% endif %}">

								<div class="buy-product__price">
									<span class="buy-product__price-value">258 000</span> ₽
								</div>

								<div class="buy-product__available{% if not item.available %} is-not{% endif %}">
									<svg width="24" height="24" viewBox="0 0 68 68">
										<path d="m34 0 34 34L34 68.0.0 34z"/>
										<path d="M14 34h40M34 14v40"/>
									</svg>
									{% if item.available %}
										В наличии
									{% else %}
										Нет в наличии
									{% endif %}
								</div>

								<div class="buy-product__btn">

									<button class="btn btn--buy" data-default="Купить" data-alt="В корзине">

										{% if item.buy %}
											В корзине
										{% else %}
											Купить
										{% endif %}

									</button>

								</div>

							</form>

						</div>

					</div>

					<div class="cat-list__img hidden-sm">

						<a href="/product/">

							<picture>

								<source srcset="/img/cat-list/product@1x.webp 1x, /img/cat-list/product@2x.webp 2x" type="image/webp">

								<source srcset="/img/cat-list/product@1x.png 1x, /img/cat-list/product@2x.png 2x">

								<img src="/img/cat-list/product@1x.png" alt="60cm Cast Iron Trivets">

							</picture>

						</a>

					</div>

				</div>

			</article>

{% endfor %}

		</div>

	</section>

{% endblock %}