{% set title = "Сушильные машины " + site %}
{% set description = "What’s cooking at your place? With your choice of Everdure under bench, wall mounted ovens or freestanding combined cooker, cooking for your friends and family will be a joy. Whichever model you choose, our ovens have been designed for simple operation and stress – free cooking." %}

{% set urlCurrent = "catalog" %}
{% set ogImage = "/img/home/grey.jpg" %}

{% extends "template/base.html" %}

{% block content %}

{% set breadcrumbs = ['Главная','Каталог','Сушильные машины'] %}

	<section>

		<div class="billboard">

			<h1 class="h1">
				Сушильные машины
			</h1>

			<picture>

				<source srcset="/img/home/grey.webp" type="image/webp">
				<source srcset="/img/home/grey.jpg">

				<img src="/img/home/grey.jpg" alt="" loading="lazy" width="1980" height="600">

			</picture>

		</div>

{% include "_include/breadcrumbs.html" %}

		<div class="center hidden-sm">

			<div class="intro">

				<h2 class="h2">
					{{ title }}
				</h2>

				<p>
					{{ description }}
				</p>

			</div>

		</div>

		<div class="technology hidden-sm">

			<div class="center">

				<ul class="technology__list">

					<li class="technology__item">

						<div class="technology__ico">

							<img src="/img/technology/1.svg" width="72" height="72" loading="lazy" alt="">

						</div>

						<strong class="technology__name">
							anti-flood stop device
						</strong>

						<p class="technology__text">

							Your appliance will never flood, when installed properly, safety is important to Everdure.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

							<img src="/img/technology/2.svg" width="72" height="72" loading="lazy" alt="">

						</div>

						<strong class="technology__name">
							14 piece setting
						</strong>

						<p class="technology__text">

							Enough room to fit all your pots and pans , so you don’t need to spend time washing dishes.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

							<img src="/img/technology/3.svg" width="72" height="72" loading="lazy" alt="">

						</div>

						<strong class="technology__name">
							6 washing Cylces
						</strong>

						<p class="technology__text">

							Different wash options to ensure your dishes are always nice and clean.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

							<img src="/img/technology/4.svg" width="72" height="72" loading="lazy" alt="">

						</div>

						<strong class="technology__name">
							6 washing Cylces
						</strong>

						<p class="technology__text">

							Different wash options to ensure your dishes are always nice and clean.

						</p>

					</li>

				</ul>

			</div>

		</div>

{% include "catalog/list/list.html" %}

	</section>

{% endblock %}