{% set title = "Оформление заказа " + site %}
{% set description = " Гарантийный срок на технику De Dietrich - 1 год" %}

{% set urlCurrent = "catalog" %}
{% set ogImage = "/img/home/pure_white.jpg" %}

{% extends "template/base.html" %}

{% block content %}

{% set breadcrumbs = ['Главная','Оформление заказа'] %}

	<section>

{% include "_include/breadcrumbs.html" %}

		<div class="center cart">

			<h2 class="cart__title h2">
				Оформление заказа
			</h2>

		<form action="basket" method=post class="cart__list">


			<input type=hidden name=save_before_order>

			<table>

				<thead class="hidden-md">
					<tr>
						<td class="cart__col-1"></td>
						<td class="cart__col-2">Наименование</td>
						<td class="cart__col-3">Количество</td>
						<td class="cart__col-4">Цена, руб.</td>
						<td class="cart__col-5">Сумма, руб.</td>
						<td class="cart__col-6"></td>
					</tr>
				</thead>

				<tbody>

								<tr class="cart__item">
						<td class="cart__col-1">
							<a href="katalog/dedietrich-dpe7549xf" target="_blank">
									<picture>
										<source srcset="https://dedietrich-russia.ru/pic/300x300/dpe7549xf.webp 1x, https://dedietrich-russia.ru/pic/600x600/dpe7549xf.webp 2x" type="image/webp">
										<source srcset="https://dedietrich-russia.ru/pic/300x300/dpe7549xf.jpg 1x, https://dedietrich-russia.ru/pic/600x600/dpe7549xf.jpg 2x">
										<img src="https://dedietrich-russia.ru/pic/300x300/dpe7549xf.jpg" alt="Варочная панель  DeDietrich DPE7549XF" loading="lazy">
									</picture>
							</a>
						</td>
						<td class="cart__col-2">

							<a class="buy-product__title h3" href="katalog/dedietrich-dpe7549xf" target="_blank">
								Варочная панель  <br>DeDietrich DPE7549XF
							</a>
							<div class="buy-product">
								<div class="buy-product__available is-not"><svg width="24" height="24" viewBox="0 0 68 68"><path d="m34 0 34 34L34 68.0.0 34z"></path><path d="M14 34h40M34 14v40"></path></svg>Нет в наличии</div>
							</div>
						</td>

						<td class="cart__col-3">
							<span class="quantity">
								<button class="quantity__btn quantity__btn--down button" type="button">
									уменьшить на одну штуку
								</button>
								<input type="tel" name="goods[840]" value="1" class="quantity__count input" maxlength="3" onchange=this.form.submit()>
								<input type="hidden" value="{MODEL.PRICE_MAIN}" class="quantity__price">
								<button class="quantity__btn quantity__btn--up button" type="button" onclick="return this.form.submit()">
									увеличить на одну штуку
								</button>
							</span>
						</td>

						<td class="cart__col-4" data-pref="+">
							<div class="cart__item-price">
								82 900
							</div>
						</td>
						<td class="cart__col-5" data-pref="=">
							<div class="cart__item-price cart__item-price--total">
								82 900
							</div>
						</td>
						<td class="cart__col-6">
						<a href="https://dedietrich-russia.ru/order.php?ID=840&mode=del" title="Удалить">
							<button class="cart__item-remove button" type="button">
								удалить товар из корзины
							</button></a>

<!--a href="https://dedietrich-russia.ru/order.php?ID=840&mode=del" title="Удалить"><button class="cart__item-remove button" type="button">
							</button></a-->


						</td>
					</tr>					<tr class="cart__item">
						<td class="cart__col-1">
							<a href="katalog/dedietrich-drc1771fn" target="_blank">
									<picture>
										<source srcset="https://dedietrich-russia.ru/pic/300x300/drc1771fn.webp 1x, https://dedietrich-russia.ru/pic/600x600/drc1771fn.webp 2x" type="image/webp">
										<source srcset="https://dedietrich-russia.ru/pic/300x300/drc1771fn.jpg 1x, https://dedietrich-russia.ru/pic/600x600/drc1771fn.jpg 2x">
										<img src="https://dedietrich-russia.ru/pic/300x300/drc1771fn.jpg" alt="Холодильник  DeDietrich DRC1771FN" loading="lazy">
									</picture>
							</a>
						</td>
						<td class="cart__col-2">

							<a class="buy-product__title h3" href="katalog/dedietrich-drc1771fn" target="_blank">
								Холодильник  <br>DeDietrich DRC1771FN
							</a>
							<div class="buy-product">
								<div class="buy-product__available is-not"><svg width="24" height="24" viewBox="0 0 68 68"><path d="m34 0 34 34L34 68.0.0 34z"></path><path d="M14 34h40M34 14v40"></path></svg>Нет в наличии</div>
							</div>
						</td>

						<td class="cart__col-3">
							<span class="quantity">
								<button class="quantity__btn quantity__btn--down button" type="button">
									уменьшить на одну штуку
								</button>
								<input type="tel" name="goods[967]" value="3" class="quantity__count input" maxlength="3" onchange=this.form.submit()>
								<input type="hidden" value="{MODEL.PRICE_MAIN}" class="quantity__price">
								<button class="quantity__btn quantity__btn--up button" type="button" onclick="return this.form.submit()">
									увеличить на одну штуку
								</button>
							</span>
						</td>

						<td class="cart__col-4" data-pref="+">
							<div class="cart__item-price">
								159 990
							</div>
						</td>
						<td class="cart__col-5" data-pref="=">
							<div class="cart__item-price cart__item-price--total">
								479 970
							</div>
						</td>
						<td class="cart__col-6">
						<a href="https://dedietrich-russia.ru/order.php?ID=967&mode=del" title="Удалить">
							<button class="cart__item-remove button" type="button">
								удалить товар из корзины
							</button></a>

<!--a href="https://dedietrich-russia.ru/order.php?ID=967&mode=del" title="Удалить"><button class="cart__item-remove button" type="button">
							</button></a-->


						</td>
					</tr>

				</tbody>

				<tfoot>

					<tr>
						<td colspan="6" class="cart__col-foot">
							Итого:
							<div class="cart__col-foot-bold">
								<span class="cart__items-price">
									562 870
								</span>
								рублей
							</div>
						</td>
					</tr>
				</tfoot>

			</table>

		</form>

			<div class="tabs">

				<fieldset class="tabs__item">

				<form action="https://dedietrich-russia.ru/order.php?mode=OK" method=post class="cart__order center" id="cart-order">

					<div class="input-row input-row--required">
						<label for="CName" class="input-row__label">
							ФИО *
						</label>
						<span class="input-row__input" data-error="Пожалуйста, укажите Ваше имя">
							<input class="input" required="required" name=client[Name] id=CName data-mirror="СName" onblur=setV(this.value)>
						</span>
					</div>

					<div class="input-row input-row--required">
						<label for="CPhone" class="input-row__label">
							Телефон *
						</label>
						<span class="input-row__input" data-error="Пожалуйста, укажите контактный телефон">
							<input class="input" required="required" name=client[Phone] id=CPhone type="tel" data-mirror="СPhone" onblur=setV2(this.value)>
						</span>
					</div>

					<div class="input-row input-row--required">
						<label for="CAddr" class="input-row__label">
							Адрес доставки
						</label>
						<span class="input-row__input">
							<input class="input" required="required" name=client[Address] id=CAddr>
						</span>
					</div>

					<div class="input-row">
						<label for="email" class="input-row__label">
							E-mail
						</label>
						<span class="input-row__input">
							<input class="input" name=client[Mail] type="email" id="email">
						</span>
					</div>

					<div class="input-row">
						<label for="metro" class="input-row__label">
							Метро
						</label>
						<span class="input-row__input">
							<span class="select">

							</span>
						</span>
					</div>

					<div class="input-row">
						<label for="v_598" class="input-row__label input-row__label--checkbox">
							Лифт
						</label>
						<span class="input-row__input">
							<label class="checkbox">
								<input class="checkbox__input visuallyhidden" type="radio" name="order[Atr3][S]" value="140">
								<span class="checkbox__label">
									Нет
								</span>
							</label>
							<label class="checkbox">
								<input class="checkbox__input visuallyhidden" type="radio" name="order[Atr3][S]" value="141">
								<span class="checkbox__label">
									Грузовой
								</span>
							</label>
							<label class="checkbox">
								<input class="checkbox__input visuallyhidden" type="radio" name="order[Atr3][S]" value="142">
								<span class="checkbox__label">
									Пассажирский
								</span>
							</label>
						</span>
					</div>

					<div class="input-row">
						<label for="DDate" class="input-row__label">
							Дата доставки
						</label>
						<span class="input-row__input">
							<input class="input" name="calendar" type="date" onClick=DateInput(this);>
						</span>
					</div>

					<div class="input-row">
						<label for="v_408" class="input-row__label input-row__label--checkbox">
							Способ оплаты
						</label>
						<span class="input-row__input">
							<label class="checkbox">
								<input class="checkbox__input visuallyhidden" type="radio" name="order[Atr1][S]" value=114>
								<span class="checkbox__label">
									Наличными
								</span>
							</label>
							<label class="checkbox">
								<input class="checkbox__input visuallyhidden" type="radio" name="order[Atr1][S]" value="115">
								<span class="checkbox__label">
									Банковской картой
								</span>
							</label>
							<label class="checkbox">
								<input class="checkbox__input visuallyhidden" type="radio" name="order[Atr1][S]" value="116">
								<span class="checkbox__label">
									Безналичный расчет
								</span>
							</label>
							<label class="checkbox">
								<input class="checkbox__input visuallyhidden" type="radio" name="order[Atr1][S]" value="117">
								<span class="checkbox__label">
									on-line (картой)
								</span>
							</label>
						</span>
					</div>

					<div class="input-row">
						<label for="textarea" class="input-row__label">
							Дополнительная информация
						</label>
						<span class="input-row__input">
							<textarea class="input" name=order[Memo] id="textarea"></textarea>
						</span>
					</div>


					<div class="buy-product__btn">

						<button class="btn btn--buy" data-default="Купить" data-alt="Оформить заказ">

								Оформить заказ

						</button>

					</div>


				</form>
				</fieldset>

			</div>

			<p class="cart__info-required">
				<sup>*</sup> - поля обязательны для заполнения
			</p>

		</div>

	</section>

{% endblock %}