	<footer class="footer">

		<div class="footer__flex center">

			<div class="footer__left">

				<p class="footer__logo">

					<img src="/img/logo-text.svg" width="148" height="28" alt="{{ site }}">

					Créateur d'émotions depuis 1684

				</p>

				<p class="footer__tel">

					<a href="tel:+74952532211">
						+7 ( 495 ) 253 22 11
					</a>

				</p>

			</div>

			<div class="footer__col">

				<h3 class="footer__head hidden-sm">
					Разделы
				</h3>

				<ul class="footer__menu">
					<li><a href="/">О компании</a></li>
					<li><a href="/">Каталог</a></li>
					<li><a href="/">Доставка и оплата</a></li>
					<li><a href="/">Акции</a></li>
					<li><a href="/">Контакты</a></li>
				</ul>

			</div>

			<div class="footer__col">

				<h3 class="footer__head hidden-sm">
					Контакты
				</h3>

				<p class="footer__address">
					Фирменный интернет-магазин <b>{{ site }}</b>
				</p>

				<p class="footer__mail">
					<a href="mailto:info@gmail.com">info@gmail.com</a>
				</p>

				<div class="footer__time-social">

					<p class="footer__time">
						<span>Пн - Пт</span> 10.00 - 18.00<br>
						<span>Сб, Вс</span> выходной
					</p>

				</div>

			</div>

		</div>

		<hr>

		<p class="footer__copyright">
			© 2023 Копирайт. Все права защищены
		</p>

	</footer>