	<footer class="footer">

		<div class="center">

			<div class="footer__left">

				<h3 class="h3">
					Разделы
				</h3>

				<ul class="footer__menu">
					<li><a href="/">О компании</a></li>
					<li><a href="/">Каталог</a></li>
					<li><a href="/">Доставка и оплата</a></li>
					<li><a href="/">Новости</a></li>
					<li><a href="/">Контакты</a></li>
					<li><a href="/">FAQ</a></li>
				</ul>

			</div>

			<div class="footer__right">

				<h3 class="h3">
					Контакты
				</h3>

				<p class="footer__address">
					Москва, Московский проспект&nbsp;12-Б, оф.&nbsp;255
				</p>

				<p class="footer__tel">
					<a href="tel:+74952532211">+7 495 253 22 11</a>
					<a href="tel:+74952532211">+7 495 253 22 11</a>
				</p>

				<p class="footer__mail">
					<a href="mailto:jackys@gmail.com">Jackys@gmail.com</a>
				</p>

				<div class="footer__time-social">

					<p class="footer__time">
						<span>Пн - Сб</span> 9.00 - 19.00 <br> <span>Вс</span> выходной
					</p>

					<ul class="social">

						<li class="social__item">
							<a class="social__link social__link" href="/" target="_blank" rel="nofollow">
								<svg width="24" height="24" viewBox="0 0 90 90">
									<path d="M68.85,32.16c.35-1.16,0-2-1.65-2H61.73a2.36,2.36,0,0,0-2.38,1.55s-2.78,6.78-6.72,11.18c-1.27,1.27-1.85,1.68-2.55,1.68-.35,0-.85-.41-.85-1.56V32.16c0-1.39-.4-2-1.56-2h-8.6a1.32,1.32,0,0,0-1.39,1.26c0,1.32,2,1.62,2.17,5.33V44.8c0,1.77-.32,2.09-1,2.09-1.85,0-6.37-6.81-9-14.6-.52-1.51-1.05-2.13-2.45-2.13H21.88c-1.56,0-1.88.74-1.88,1.55,0,1.45,1.85,8.63,8.63,18.14,4.52,6.49,10.89,10,16.68,10,3.48,0,3.91-.78,3.91-2.13V52.81c0-1.56.33-1.87,1.43-1.87.81,0,2.2.41,5.45,3.53,3.71,3.71,4.32,5.37,6.41,5.37H68c1.56,0,2.34-.78,1.89-2.32s-2.26-3.77-4.61-6.41C64,49.61,62.07,48,61.49,47.17c-.81-1-.58-1.51,0-2.43C61.49,44.74,68.16,35.35,68.85,32.16Z"/>
									<circle cx="58.41" cy="31.66" r="3.02"/>
								</svg>
								Jacky's группа ВКонтакте
							</a>
						</li>

						<li class="social__item">
							<a class="social__link social__link" href="/" target="_blank" rel="nofollow">
								<svg width="24" height="24" viewBox="0 0 90 90">
									<path d="M55.57,20H34.43A14.43,14.43,0,0,0,20,34.43V55.57A14.43,14.43,0,0,0,34.43,70H55.57A14.43,14.43,0,0,0,70,55.57V34.43A14.43,14.43,0,0,0,55.57,20ZM65.4,55.94a9.58,9.58,0,0,1-9.58,9.58H34.18a9.58,9.58,0,0,1-9.58-9.58V34.31a9.58,9.58,0,0,1,9.58-9.58H55.82a9.58,9.58,0,0,1,9.58,9.58Z"/>
									<path d="M45,32.15a13,13,0,1,0,13,13A13,13,0,0,0,45,32.15Zm0,21.38a8.41,8.41,0,1,1,8.41-8.41A8.41,8.41,0,0,1,45,53.53Z"/>
									<circle cx="58.41" cy="31.66" r="3.02"/>
								</svg>
								Jacky's фото в instagram
							</a>
						</li>

						<li class="social__item">
							<a class="social__link social__link" href="/" target="_blank" rel="nofollow">
								<svg width="24" height="24" viewBox="0 0 90 90">
									<path d="M48.87,70V47.19h7.66l1.15-8.89h-8.8V32.63c0-2.57.71-4.33,4.41-4.33H58V20.35A63.1,63.1,0,0,0,51.12,20c-6.79,0-11.43,4.14-11.43,11.75V38.3H32v8.89h7.68V70Z"/>
								</svg>
								Jacky's группа в facebook
							</a>
						</li>

						<li class="social__item">
							<a class="social__link social__link" href="/" target="_blank" rel="nofollow">
								<svg width="24" height="24" viewBox="0 0 90 90">
									<path d="M70,35c0-4.06-3.4-6.24-7.46-6.24H28.1C24,28.72,20,30.9,20,35v19.7c0,4.06,4,6.62,8.1,6.62H62.54c4.06,0,7.46-2.56,7.46-6.62ZM40.93,53.12V34.62l14,9.25Z"/>
								</svg>
								Jacky's канал на youtube
							</a>
						</li>

					</ul>

				</div>

			</div>

		</div>

		<hr>

		<p class="footer__copyright">
			© 2019 Копирайт. Все права защищены
		</p>

		<button type="button" class="button footer__up">
			В начало
		</button>

	</footer>