	<header class="header">

		<div class="header__top center">

			<a class="header__logo" href="/">
				На главную Jacky`s
			</a>

			<div class="header__left">

				<a class="header__tel" href="tel:+74952532211">
					<span class="hidden-sm">Звоните нам <br></span>
					<b>+7 <span class="color-blue"> 495 </span> 253 22 11</b>
				</a>

			</div>

			<div class="header__right">

				<form class="header__search form form--header hidden-sm" action="/" autocomplete="off">

					<input class="input header__search-input">

					<button class="button header__search-btn form__btn-submit">
						Поиск по сайту
					</button>

				</form>

				<span class="header__sep hidden-sm"></span>

				<a href="cart.html" class="header__cart">
					Корзина
				</a>

			</div>

		</div>

		<hr class="hidden-sm">

		<nav class="menu">

			<div class="center">

				<button class="button menu__btn-toggle visible-sm" type="button">
					<span>открыть/закрыть</span> меню <span>сайта</span>
				</button>

				<ul class="menu__list">

					<li class="menu__item hidden-sm">
						<a class="menu__link" href="/">О компании</a>
					</li>
					<li class="menu__item menu__item--current menu__item--parent">

						<a class="menu__link hidden-sm" href="/">Каталог</a>

						<div class="menu__sub">

							<div class="menu__sub-col">

								<h3 class="menu__sub-head hidden-sm">
									Отдельностоящая техника
								</h3>

								<ul class="menu__sub-list">
									<li>
										<a href="/catalog.html">
											<span>Стиральные машины</span>
										</a>
									</li>
									<li>
										<a href="/catalog.html">
											<span>Сушильные машины</span>
										</a>
									</li>
									<li>
										<a href="/catalog.html">
											<span>Холодильники</span>
										</a>
									</li>
									<li>
										<a href="/catalog.html">
											<span>Морозильники</span>
										</a>
									</li>

								</ul>

							</div>

							<div class="menu__sub-col">

								<h3 class="menu__sub-head hidden-sm">
								Встраиваемая техника
								</h3>

								<ul class="menu__sub-list">

									<li>
										<a href="/catalog.html">
											<span>Варочные поверхности</span>
										</a>
									</li>
									<li>
										<a href="/catalog.html">
											<span>Духовые шкафы</span>
										</a>
									</li>
									<li>
										<a href="/catalog.html">
											<span>Посудомоечные машины</span>
										</a>
									</li>
									<li>
										<a href="/catalog.html">
											<span>Встраиваемые холодильники</span>
										</a>
									</li>

								</ul>

							</div>


						</div>

					</li>
					<li class="menu__item">
						<a class="menu__link" href="/">Доставка и оплата</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="/">Новости</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="/">Контакты</a>
					</li>

				</ul>

			</div>

		</nav>

	</header>
