	<header class="header">

		<div class="header__top center">

			<a class="header__logo" href="/">
				На главную Jacky`s
			</a>

			<div class="header__left">

				<a class="header__tel" href="tel:+74952532211">
					Звоните нам <br>
					<b>+7 <span class="color-blue"> 495 </span> 253 22 11</b>
				</a>

			</div>

			<div class="header__right">

				<button type="button" class="button header__btn-search">
					Открыть поиск по сайту
				</button>

				<span class="header__sep"></span>

				<a href="/" class="header__cart">
					Корзина
				</a>

				<button class="button header__menu-btn header__btn-menu-toggle visible-md" type="button">открыть/закрыть меню сайта</button>

			</div>

		</div>

		<hr>

		<nav class="menu">

			<div class="center">

				<ul class="menu__list">

					<li class="menu__item">
						<a class="menu__link" href="/">О компании</a>
					</li>
					<li class="menu__item menu__item--current menu__item--parent">

						<a class="menu__link" href="/">Каталог</a>

						<div class="menu__sub">

							<div class="menu__sub-col">

								<h3 class="menu__sub-head">
									Отдельностоящая техника
								</h3>

								<ul class="menu__sub-list">
									<li>
										<a href="/">Холодильники</a>
									</li>
									<li>
										<a href="/">Стиральные машины</a>
									</li>
									<li>
										<a href="/">Сушильные машины</a>
									</li>
									<li>
										<a href="/">Стирально-сушильные машины</a>
									</li>
								</ul>

							</div>

							<div class="menu__sub-col">

								<h3 class="menu__sub-head">
									Встраиваемая техника
								</h3>

								<ul class="menu__sub-list">
									<li>
										<a href="/">Духовые шкафы</a>
									</li>
									<li>
										<a href="/">Варочные панели</a>
									</li>
									<li>
										<a href="/">СВЧ</a>
									</li>
									<li>
										<a href="/">ПММ</a>
									</li>
									<li>
										<a href="/">Холодильники</a>
									</li>
								</ul>

							</div>

						</div>

					</li>
					<li class="menu__item">
						<a class="menu__link" href="/">Доставка и оплата</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="/">Новости</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="/">Контакты</a>
					</li>

				</ul>

			</div>

		</nav>

	</header>
