{% set title = "60cm Cast Iron Trivets" %}
{% set description = "это премиальный бренд, созданный группой талантливых разработчиков, имеющих опыт работы на ведущих заводах по производству бытовой техники в Европе." %}

{% set urlCurrent = "product.html" %}
{% set ogType = "product" %}
{% set ogImage = "/img/product/img@1x.png" %}

{% extends "template/base.html" %}

{% block content %}

{% set breadcrumbs = ['Главная','Каталог','Посудомойки','60cm Cast Iron Trivets'] %}

{% include "_include/breadcrumbs.html" %}

	<article class="product center">

{% include "product/schema.html" %}

		<div class="product__primary buy-product">

			<h1 class="buy-product__title h1">
				60cm Cast Iron Trivets
			</h1>

{% include "product/img.html" %}

			<div class="product__desc">

{% include "product/intro.html" %}

{% include "product/discontinued.html" %}

			</div>

{% include "product/technology.html" %}

		</div>

{% include "product/accordion.html" %}

	</article>

{% include "product/related.html" %}

{% endblock %}