	<ul class="breadcrumbs center hidden-sm" itemscope itemtype="https://schema.org/BreadcrumbList">

{% for item in breadcrumbs %}

		<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">

			{% if not loop.last %}

			<a class="breadcrumbs__link" href="/" itemprop="item">

				<span itemprop="name">{{ item }}</span>

			</a>

			{% else %}

			<span class="breadcrumbs__text">

				<span itemprop="name">{{ item }}</span>

			</span>

			<link itemprop="item" href="http://jackys.wonderbase.ru/product.html">

			{% endif %}

			<meta itemprop="position" content="{{ loop.index }}" />

		</li>

{% endfor %}

	</ul>