.accordion {

	position: relative;
	margin: 36px auto;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);

	&__item {

		background-color: #d9d9d9;
		margin-bottom: 1px;

	}

	&__body {

		overflow: hidden;
		position: relative;
		max-height: 0;
		opacity: 0;
		transition: opacity var(--transitionDefault);

	}

	&__inner {

		padding: 10px 24px 12px;

	}

	&__item.is-open &__body {

		overflow: visible;
		max-height: 90000px;
		opacity: 1;

	}

	&__item.is-open &__btn {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='2' viewBox='0 0 12 2'%3E%3Cpath fill='%23262626' d='M.25 1.75V.25h12v1.5h-12Z'/%3E%3C/svg%3E");

	}

	&__btn {

		cursor: pointer;
		user-select: none;
		position: relative;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23262626' d='M5.5 12H7V6.75h5.25v-1.5H7V0H5.5v5.25H.25v1.5H5.5V12Z'/%3E%3C/svg%3E");
		background-position: right 20px center;
		background-repeat: no-repeat;
		padding: 14px 24px;

	}

}