.breadcrumbs {

	display: flex;
	flex-wrap: wrap;
	margin: 24px auto;

	&__item {

		display: flex;
		align-items: center;

		&:not(:last-child) {

			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%23262626' viewBox='0 0 24 24'%3E%3Cpath d='M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6Z'/%3E%3C/svg%3E");
			background-position: right;
			background-repeat: no-repeat;
			padding-right: 32px;
			margin-right: 10px;

		}

	}

	&__link {

		&:hover {

			color: var(--gold);

		}

	}

	&__text {

		color: var(--grey);

	}

}