.buy-product {

	&__title {

		text-align: left;

		a {

			color: var(--color);

			@media $desktop {

				&:hover {

					color: var(--gold);

				}

			}

		}

	}

	&__text {

		font-size: 15px;
		line-height: 22px;
		text-align: justify;
		margin: 20px 0;
		font-weight: 500;

		@media $mdWidth {

			font-size: 14px;
			line-height: 20px;

		}

	}

	&__list {

		font-size: 15px;
		line-height: 22px;
		margin: 20px 0;

		@media $mdWidth {

			font-size: 14px;
			line-height: 20px;

		}

		li {

			padding-left: 20px;

			&::before {

				position: absolute;
				width: 6px;
				height: 6px;
				top: 6px;
				left: 0;
				border-radius: 2px;
				border: 2px solid var(--gold);
				content: '';
				transform: rotate(45deg);

			}

		}

	}

	&__cart {

		display: flex;
		flex-wrap: wrap;
		margin-top: 32px;

		@media $smWidth {

			margin-top: 30px;
			clear: left;

		}

	}

	&__price {

		font-size: 30px;
		line-height: 36px;
		white-space: nowrap;
		min-width: 226px;
		padding-right: 40px;
		font-weight: 700;
		letter-spacing: 1px;

		&-value {

			padding-right: 4px;

		}

		@media $mdWidth {

			font-size: 24px;
			min-width: 200px;

		}

		@media $smWidth {

			min-width: 0;

		}

	}

	&__available {

		color: var(--red);
		display: flex;
		align-items: center;
		text-transform: uppercase;
		line-height: 24px;
		height: 24px;
		margin-top: 6px;
		font-size: 12px;
		position: relative;
		white-space: nowrap;
		gap: 10px;
		letter-spacing: 1.1px;

		svg {

			fill: none;
			stroke: currentColor;

		}

		&.is-not {

			color: var(--grey);

			svg {

				transform: rotate(45deg);

			}

		}

	}

	&__btn {

		width: 100%;
		margin: 40px 0 29px;

		@media $mdWidth {

			margin: 20px 0;

		}

	}

	&__compare {

		margin: 24px 0;

		&-btn {

			display: flex;
			gap: 12px;
			font-size: 14px;
			align-items: center;

		}

	}

}