.cat-desc {

	&__billboard {

		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		padding: 30px 20px 20px;
		height: 250px;
		overflow: hidden;
		background-color: #fff;

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;

		}

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-color: rgba(0,0,0,.5);

		}

	}

	&__h1 {

		position: relative;
		z-index: 1;
		font-size: 44px;
		line-height: 50px;
		text-transform: uppercase;
		letter-spacing: 8px;
		text-shadow: 0 0 21px #000;

	}

	&__title {

		text-align: center;
		font-size: 28px;
		line-height: 32px;
		letter-spacing: 1.5px;

		&::after {

			width: 154px;
			height: 1px;
			content: '';
			background-color: #000;
			margin: 32px auto 5px;
			display: block;

		}

	}

	&__box {

		display: flex;
		align-items: center;
		padding: 0 30px;
		font-size: 15px;
		line-height: 22px;
		margin-bottom: 60px;

		&-img {

			flex-shrink: 0;
			width: 158px;

		}

	}

}