.category {

	background-color: #b7b7b7;
	border-top: 1px solid #000;
	border-bottom: 1px solid #a7a7a7;

	&__list {

		display: flex;
		justify-content: center;
		padding: 36px 0 39px;

		@media ($mdWidth) {

			flex-wrap: wrap;
			padding: 20px 0;

		}

		@media ($smWidth) {

			padding: 10px 0;
			display: block;

		}

	}

	&__item {

		display: flex;
		flex-grow: 1;

		@media ($mdWidth) {

			width: 50%;
			margin: 16px 0;

		}

		@media ($smWidth) {

			display: block;
			width: 100%;
			margin: 20px 0;

		}

	}

	&__link {

		text-transform: uppercase;

		@media ($desktop) {

			white-space: nowrap;
			letter-spacing: 1.4px;

			&:hover {

				color: var(--red);

			}

		}

	}

	figure {

		display: flex;
		align-items: center;

		figcaption {

			padding: 0 20px;

		}

	}

	@media ($desktop) {

		&__link:hover &__img {

			border-color: var(--red);

		}

	}

	&__img {

		display: block;
		border-radius: 50%;
		border: 1px solid #fff;

		@media ($mdWidth) {

			width: 80px;
			height: 80px;

		}

	}

}