.category {

	margin: 15px 0;

	&__list {

		column-count: 3;
		column-gap: 24px;

		@media $mdWidth {

			column-count: 2;
			column-gap: 15px;

		}

		@media $smWidth {

			column-count: auto;

		}

	}

	&__item {

		overflow: hidden;
		break-inside: avoid;

	}

	&__link {

		display: block;
		margin-bottom: 20px;
		position: relative;
		background-color: var(--color);

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-color: var(--color);
			opacity: 0;
			transition: var(--transitionDefault);

		}

		svg {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 1;
			opacity: 0;
			transform: translateY(-50%);
			transition-property: opacity;
			fill: none;
			stroke: #fff;


		}

		@media $desktop {

			&:hover {

				background-color: var(--gold);

				&::after {

					opacity: .5;

				}

				.category__caption {

					background-color: #d89872;

				}

				svg {

					opacity: 1;

				}

			}

		}

	}

	&__name {

		display: block;
		line-height: 20px;
		border-bottom: solid 1px #b2b1b1;
		padding: 0 10px;
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 20px;
		font-weight: 500;
		position: relative;
		z-index: 1;
		letter-spacing: 1px;

	}

	&__img {

		width: 100%;
		height: auto;

	}

	&__caption {

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(255,255,255,0.7);
		transition: var(--transitionDefault);
		padding: 5px 10px;
		color: #000;
		font-size: 18px;
		font-family: 'Bodini','Bodini-Moda';
		font-style: italic;
		z-index: 1;

		b {

			display: block;
			color: currentColor;
			text-transform: uppercase;
			font-style: normal;
			text-align: left;
			line-height: 1;
			font-weight: 400;

		}

	}

}