.collections {

	margin-top: 64px;

	@media $smWidth {

		margin: 0;

	}

	.intro p {

		max-width: 480px;

	}

	&__item {

		margin-top: 30px;

		@media $smWidth {

			margin-top: 15px;

		}

	}

	&__link {

		display: block;
		height: 313px;
		position: relative;

		img {

			width: 100%;
			object-fit: cover;

		}

		&:hover::after {

			opacity: .7;

		}

		&::after {

			background-color: #fff;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			transition: var(--transitionDefault);

		}

	}

	&__romb {

		position: absolute;
		width: 221px;
		height: 221px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		margin: auto;
		transform: rotate(45deg);
		z-index: 1;

	}

	&__name {

		position: absolute;
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		font: 39px/40px 'Times New Roman';
		text-align: center;
		z-index: 1;

		b {

			display: block;
			font-weight: 900;

		}

	}

}