.footer {

	margin-top: 72px;
	padding-top: 36px;
	border-top: 1px solid var(--line);

	&__left {

		width: 320px;

	}

	&__logo {

		font-size: 12px;
		line-height: 2;
		text-transform: uppercase;
		color: var(--grey);

		img {

			margin: 8px 0;

		}

	}

	&__tel {

		font-weight: 500;
		font-size: 20px;
		margin: 12px 0;

	}

	@media $mdWidth {


	}

	@media $smWidth {


	}

	&__flex {

		display: flex;
		gap: 72px;
		justify-content: center;

		@media $mdWidth {

			gap: 36px;

		}

		@media $smWidth {

			display: block;

		}

	}

	&__head {

		color: var(--grey);
		font-weight: 500;

		&::after {

			width: 58px;
			height: 1px;
			display: block;
			background-color: var(--gold);
			margin: 12px 0;
			content: '';

		}

	}

	&__menu {

		font-size: 14px;
		line-height: 2;

		a {

			text-transform: uppercase;

			&:hover {

				color: var(--gold);

			}

		}

	}

	&__address {


	}

	&__mail {

		font-size: 16px;
		line-height: 30px;
		margin-bottom: 8px;

	}

	&__mail {

	}

	hr {

		margin-top: 36px;

	}

	&__copyright {

		text-align: center;
		padding: 24px 0;
		font-size: 14px;

	}

	&__time-social {

		display: flex;

	}

	&__time {

		padding: 14px 36px 14px 24px;
		border: 1px solid var(--line);

	}

}