.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
	user-select: none;
	font-size: 0;
	color: transparent;

	&:focus {

		outline: none;

	}

	&[disabled] {

		cursor: default;

	}

}

.btn {

	display: block;
	text-align: center;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;

	padding: 0 12px;

	height: 36px;
	font-size: 12px;
	line-height: 36px;
	letter-spacing: 0.5px;
	text-align: center;
	text-transform: uppercase;

	&:hover {

		color: #fff;
		background-color: #000;
		box-shadow: none;
		transition: .15s ease;

	}

}


.input {

	vertical-align: middle;
	padding: 0;
	width: 100%;
	font-family: inherit;
	position: relative;
	-webkit-appearance: none;
	display: block;
	height: 36px;
	border-radius: 0;
	border: 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #fff;
	border-bottom: 1px solid #000;
	background-color: transparent;

	textarea& {

		resize: none;
		min-height: 109px;
		overflow: hidden;
		padding: 6px 0;
		border: 0;

	}

	&::placeholder {

		color: #000;
		opacity: 1;

	}

	&:focus::placeholder {

		color: #fff;
		opacity: 1;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		box-shadow: inset 0 0 0 100px #fff;

	}

	&:focus {

		outline: none;
		border-bottom-color: #fff;

	}

	&--error {

		border-bottom-color: red;

	}

}

.checkbox {

	display: inline-block;
	position: relative;
	cursor: pointer;
	padding-left: 24px;

	&--error {

		color: red;

	}

	&__label {

		display: block;

		&::before {

			position: absolute;
			width: 10px;
			height: 10px;
			top: 2px;
			left: 0;
			content: '';
			opacity: .9;
			border: 1px solid #000;

		}

		&::after {

			position: absolute;
			width: 6px;
			height: 6px;
			top: 5px;
			left: 3px;
			content: '';
			opacity: .9;

		}

	}

	&:not(&--error):hover {

	/* 	color: var(--medium-light);
	 */
	}

	&:hover &__label::before {

		opacity: 1;

	}

	&__input:checked + &__label::after {

		background-color: #fff;

	}

	&__input:focus + &__label {

		outline: 1px dotted #fff;

	}

	a {

		border-bottom: 1px solid;

		&:hover {

			border-bottom-color: transparent;

		}

	}

}

.form {

	position: relative;

}