fieldset {

	border: 0;
	min-width: 0;
	display: block;
	position: relative;

	&:focus {

		outline: none;

	}

}

legend {

	display: table;

	&:focus {

		outline: none;

	}

}

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		cursor: default;

	}

	&--no-btn {

		pointer-events: none;

	}

}

.btn {

	padding: 0 12px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	height: 48px;
	line-height: 48px;
	color: var(--dark);
	background-color: var(--color);

	display: grid;
	align-items: center;
	grid-auto-flow: column;
	gap: 10px;

	svg {

		fill: var(--dark);
		display: inline;

	}

	@media $desktop {

		&:hover {

			background-color: #b5b2aa;

		}

	}

	&--dark {

		color: var(--color);
		background-color: var(--dark);

		svg {

			fill: var(--color);

		}

		@media $desktop {

			&:hover {

				background-color: rgba(22, 22, 22, .8);

			}

		}

	}

	&--grey {

		color: var(--color);
		background-color: #2d2c2b;

		svg {

			fill: var(--color);

		}

		@media $desktop {

			&:hover {

				background-color: #474644;

			}

		}

	}

	&--outline {

		color: var(--color);
		background-color: transparent;
		box-shadow: inset 0 0 0 1px rgba(157, 140, 124, 0.3);

		svg {

			fill: var(--color);

		}

		@media $desktop {

			&:hover {

				background-color: transparent;
				--color: var(--text);

			}

		}

	}

	@media $smWidth {

		padding: 0 8px;
		height: 40px;
		line-height: 40px;

	}

	&--small {

		line-height: 36px;
		height: 36px;
		padding: 0 12px;
		gap: 6px;

		@media $smWidth {

			padding: 0 8px;
			height: 32px;
			line-height: 32px;

		}

	}

	&--medium {

		padding: 0 24px;

		@media $smWidth {

			padding: 0 8px;
			height: 32px;
			line-height: 32px;

		}

	}

	&--big {

		padding: 0 36px;
		font-size: 14px;
		line-height: 60px;
		height: 60px;

		@media $smWidth {

			padding: 0 12px;
			height: 40px;
			line-height: 40px;

		}

	}

	&-back {

		background-color: var(--dark);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;

	}

	&-menu {

		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		color: var(--color);

		svg {

			margin-right: 10px;

		}

	}

	&-label {

		font-weight: 500;
		font-size: 12px;
		line-height: 34px;
		letter-spacing: 0.012em;
		display: block;
		padding: 0 14px;
		text-transform: uppercase;
		border: 1px solid rgba(249, 245, 233, 0.3);
		border-radius: 18px;

		@media $smWidth {

			font-size: 10px;
			padding: 0 10px;
			line-height: 30px;

		}

	}

	&-readmore {

		font-weight: 600;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 0.014em;
		text-transform: uppercase;

		@media $smWidth {

			font-size: 12px;
			line-height: 1.5;

		}

	}

	&--buy {

		padding: 0;
		font-weight: 500;
		font-size: 16px;
		color: var(--gold);
		text-transform: uppercase;
		border: solid 1px;
		border-radius: 4px;
		background-color: transparent;
		width: 200px;
		overflow: hidden;

		@media $desktop {

			&:hover {

				color: #fff;
				background-color: transparent;

				&::after,
				&::before {

					height: 50%;

				}

			}

			&::after,
			&::before {

				content: '';
				position: absolute;
				width: 100%;
				height: 0;
				left: 0;
				z-index: -1;
				background-color: var(--gold);
				transition: height var(--transitionDefault);

			}

			&::before {

				top: 50%;

			}

			&::after {

				bottom: 50%;

			}

		}

	}

}


@keyframes spin {

	from {

		animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
		transform: rotate(0);

	}

	to {

		transform: rotate(360deg);
	}

}

.input {

	line-height: 24px;
	padding: 12px 16px;
	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	background-color: rgba(249, 245, 233, 0.1);
	box-shadow: inset 0 0 0 100px rgba(249, 245, 233, 0.1);

	height: 48px;
	border: 0;
	border-radius: 2px;

	@media $smWidth {

		height: 40px;
		padding: 10px;
		line-height: 20px;

	}

	textarea& {

		height: 256px;
		resize: none;
		overflow: auto;

		scrollbar-width: thin;
		scrollbar-color: rgba(22,22,22,.3) transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 0;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 0;
			background-color: rgba(22,22,22,.3);

		}

	}

	@media $desktop {


	}

	&::placeholder {

		opacity: .4;
		color: var(--color);

		@media $smWidth {

			font-size: 14px;

		}

	}

	&::-ms-clear {

		display: none;

	}

	&:hover:not(:focus) {


	}

	&:focus {

		outline: none;

	}

	&:disabled {

		opacity: .5;
		box-shadow: none;

	}

	&:invalid {

		box-shadow: none;

	}

	&:valid {

		box-shadow: none;

	}

	&.is-error {

		box-shadow: inset 0 0 0 1px var(--error);

	}

}

/* checkbox */

.checkbox {

	display: flex;

	&__control {

		position: relative;
		line-height: 22px;
		font-weight: 500;
		font-size: 14px;

	}

	&__label {

		display: block;
		cursor: pointer;
		user-select: none;
		padding-left: 26px;
		background-repeat: no-repeat;


	}

	&__input:disabled ~ &__label {

		pointer-events: none;

	}

	&__input[type="radio"] + &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23161616'/%3E%3C/svg%3E");
		background-position: 0 3px;

	}

	&__input[type="radio"]:disabled + &__label {

	}

	@media $desktop {

	}

	&__input:checked + &__label {


	}

	&__input:checked:disabled ~ &__label {


	}

	&__input[type="radio"]:checked + &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23161616'/%3E%3Ccircle cx='8' cy='8' r='5' fill='%23161616'/%3E%3C/svg%3E");

	}

	&__input[type="radio"]:checked:disabled + &__label {


	}

}

.btns-contact {

	display: flex;

	@media $smWidth {

		--gap: 10px;

	}

	&__item + &__item {

		margin-left: var(--gap);

	}

	&.is-small {

		--gap: 12px;

	}

}


/* dropdown */
.dropdown {

	position: relative;

	&__btn {

		width: 100%;
		text-align: left;
		padding: 6px 12px;
		cursor: pointer;

		@media $desktop {

			&:hover {

				background-color: rgba(181, 178, 170, .2);

			}

		}

	}

	&__label {

		display: block;
		font-size: 14px;
		line-height: 22px;
		opacity: 0.5;

	}

	&__arrow {

		position: absolute;
		top: 0;
		right: 18px;
		bottom: 0;
		margin: auto;
		transition: var(--transitionDefault);

	}

	&.is-light &__arrow {

		fill: var(--dark);

	}

	&.is-open &__arrow {

		transform: scaleY(-1);

	}

	&__list {

		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		background-color: #ebe8dc;
		border: 1px solid rgba(157, 140, 124, 0.3);
		z-index: 5;
		padding: 6px 0;

		opacity: 0;
		pointer-events: none;
		transform: translate3d(0, 0, 0);
		transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

		&.is-scroll {

			max-height: 194px;
			overflow-y: auto;

			scrollbar-width: thin;
			scrollbar-color: rgba(22,22,22,.3) transparent;

			&::-webkit-scrollbar {

				width: 6px;
				border-radius: 0;
				background-color: transparent;

			}

			&::-webkit-scrollbar-thumb {

				border-radius: 0;
				background-color: rgba(22,22,22,.3);

			}

		}

	}

	&.is-open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 12px, 0);

		@media $smWidth {

			transform: translate3d(0, 10px, 0);

		}

	}

	&__item {

		display: block;
		width: 100%;
		position: relative;
		transition: var(--transitionDefault);
		cursor: pointer;
		color: rgba(22, 22, 22, .5);

		@media $desktop {

			&:hover {

				color: var(--dark);

			}

		}

		&-label {

			display: flex;
			padding: 6px 12px;

		}

		&-input:checked + &-label {

			color: var(--dark);

		}

	}

}


/* phone-country */
.phone-country {

	position: relative;

	&__btn {

		width: 100%;
		text-align: left;
		padding: 6px 12px;
		cursor: pointer;

		@media $desktop {

			&:hover {

				background-color: rgba(181, 178, 170, .2);

			}

		}

	}

	&__list {

		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		background-color: var(--dark);
		border: 1px solid var(--border);
		z-index: 5;
		padding: 6px 0;

		opacity: 0;
		pointer-events: none;
		transform: translate3d(0, 0, 0);
		transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

		max-height: 194px;
		overflow-y: auto;

		scrollbar-width: thin;
		scrollbar-color: var(--border) transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 0;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 0;
			background-color: var(--border);

		}

		.thema-light & {

			background-color: var(--bg);

		}

	}

	&.is-open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 12px, 0);

		@media $smWidth {

			transform: translate3d(0, 10px, 0);

		}

	}

	&__item {

		display: flex;
		align-items: center;
		width: 100%;
		white-space: normal;
		position: relative;
		transition: var(--transitionDefault);
		cursor: pointer;
		text-align: left;
		padding: 6px 12px;
		color: var(--text);

		@media $desktop {

			&:hover {

				color: var(--color);

			}

		}

		&-name {

			flex-grow: 1;

		}

		&-flag {

			margin-left: 8px;
			flex-shrink: 0;

		}

		&-pref {

			margin-left: 8px;
			flex-shrink: 0;

		}

	}

	&__toggle {

		position: absolute;
		top: 6px;
		left: 6px;
		bottom: 6px;
		display: flex;
		align-items: center;
		gap: 7px;
		padding: 0 5px 0 10px;

		@media $smWidth {

			top: 0;
			left: 0;
			bottom: 0;

		}

		@media $desktop {

			&:hover {

				background-color: rgba(181, 178, 170, .2);

			}

		}

		&-arrow {

			transition: var(--transitionDefault);

		}

	}

	&.is-open &__toggle-arrow {

		transform: scaleY(-1);

	}

	&__mask {

		padding-left: 60px;

		@media $smWidth {

			padding-left: 54px;

		}

	}

}

/* group */
.group-radio {

	display: flex;

	&__btn {

		position: relative;
		border: 1px solid rgba(157, 140, 124, 0.3);
		cursor: pointer;
		overflow: hidden;
		user-select: none;

		& + & {

			margin-left: -1px;

		}

		&:first-child {

			border-radius: 2px 0 0 2px;

		}

		&:last-child {

			border-radius: 0 2px 2px 0;

		}

	}

	&__label {

		display: block;
		padding: 0 14px;
		text-align: center;
		min-width: 96px;
		font-weight: 600;
		font-size: 12px;
		line-height: 34px;
		text-transform: uppercase;
		color: #6b6965;
		white-space: nowrap;
		transition: var(--transitionDefault);

		@media $smWidth {

			line-height: 30px;

		}

	}

	@media $desktop {

		&__btn:hover &__label {

			color: var(--color);

		}

	}

	&__input:checked + &__label {

		color: var(--dark) !important;
		background-color: var(--color);

	}

}

/* sort */

.radio-sort {

	display: flex;
	gap: 8px;

	&__btn {

		position: relative;
		user-select: none;

	}

	@media $desktop {

		&__btn:hover &__label {

			opacity: 1;

		}

	}

	&__label {

		display: block;
		padding: 4px 8px;
		font-size: 14px;
		line-height: 20px;
		opacity: .3;
		transition: var(--transitionDefault);
		cursor: pointer;
		border-radius: 2px;
		white-space: nowrap;

	}

	&__input:checked + &__label {

		opacity: 1;
		background-color: rgba(249, 245, 233, 0.2);

	}

}