fieldset {

	border: 0;
	min-width: 0;
	display: block;
	position: relative;

	&:focus {

		outline: none;

	}

}

legend {

	display: table;

	&:focus {

		outline: none;

	}

}

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		cursor: default;

	}

}

.btn {

	padding: 0 12px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	height: 48px;
	line-height: 48px;
	color: var(--dark);
	background-color: var(--color);

	@media $desktop {

		&:hover {

			background-color: #b5b2aa;

		}

	}

	&--dark {

		color: var(--color);
		background-color: var(--dark);

		svg {

			fill: var(--color);

		}

		@media $desktop {

			&:hover {

				background-color: rgba(22, 22, 22, .8);

			}

		}

	}

	&--grey {

		color: var(--color);
		background-color: #2d2c2b;

		svg {

			fill: var(--color);

		}

		@media $desktop {

			&:hover {

				background-color: #474644;

			}

		}

	}

	&--red {

		color: #fff;
		background-color: var(--red);

		@media $desktop {

			&:hover {

				background-color: #474644;

			}

		}

	}

	&--outline {

		color: var(--color);
		background-color: transparent;
		box-shadow: inset 0 0 0 1px rgba(157, 140, 124, 0.3);

		svg {

			fill: var(--color);

		}

		@media $desktop {

			&:hover {

				background-color: transparent;
				--color: var(--text);

			}

		}

	}

	&--buy {

		padding: 0;
		font-weight: 500;
		font-size: 16px;
		color: var(--gold);
		text-transform: uppercase;
		border: solid 2px var(--gold);
		line-height: 44px;
		border-radius: 4px;
		background-color: transparent;
		width: 200px;
		overflow: hidden;

		@media $desktop {

			&:hover {

				color: #fff;
				background-color: transparent;

				&::after,
				&::before {

					height: 50%;

				}

			}

			&::after,
			&::before {

				content: '';
				position: absolute;
				width: 100%;
				height: 0;
				left: 0;
				z-index: -1;
				background-color: var(--gold);
				transition: height var(--transitionDefault);

			}

			&::before {

				top: 50%;

			}

			&::after {

				bottom: 50%;

			}

		}

	}

}



.input {

	line-height: 24px;
	padding: 12px 16px;
	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	box-shadow: inset 0 0 0 100px rgba(249, 245, 233, 0.1);

	height: 48px;
	border: 1px solid var(--gold);
	border-radius: 2px;

	@media $smWidth {

		height: 40px;
		padding: 10px;
		line-height: 20px;

	}

	textarea& {

		height: 128px;
		resize: none;
		overflow: auto;

		scrollbar-width: thin;
		scrollbar-color: rgba(22,22,22,.3) transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 0;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 0;
			background-color: rgba(22,22,22,.3);

		}

	}

	@media $desktop {


	}

	&::placeholder {

		opacity: .4;
		color: var(--color);

		@media $smWidth {

			font-size: 14px;

		}

	}

	&::-ms-clear {

		display: none;

	}

	&:hover:not(:focus) {


	}

	&:focus {

		outline: none;

	}

	&:disabled {

		opacity: .5;
		box-shadow: none;

	}

	&:invalid {

		box-shadow: none;

	}

	&:valid {

		box-shadow: none;

	}

	&.is-error {

		box-shadow: inset 0 0 0 1px var(--error);

	}

}

/* checkbox */

.checkbox {

	display: flex;

	&__control {

		position: relative;
		line-height: 22px;
		font-weight: 500;
		font-size: 14px;
		display: flex;

	}

	&__label {

		display: block;
		cursor: pointer;
		user-select: none;
		padding-left: 10px;

	}

	&__input[type="radio"] + &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23161616'/%3E%3C/svg%3E");
		background-position: 0 3px;

	}

	@media $desktop {

	}

	&__input:not(:checked) + svg path + path {

		opacity: 0;

	}

	&__input[type="radio"]:checked + &__label {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='7.5' stroke='%23161616'/%3E%3Ccircle cx='8' cy='8' r='5' fill='%23161616'/%3E%3C/svg%3E");

	}

}
