.header {

	background-color: #000;
	background-image: url(/img/header.png);
	background-position: center top;
	background-repeat: no-repeat;

	&__top {

		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__logo {

		order: 2;
		margin: auto;
		font-size: 0;
		color: transparent;
		display: block;
		height: 183px;
		width: 120px;
		outline:1px solid red;

	}

	&__left {

		order: 1;
		width: 256px;

	}

	&__right {

		order: 3;
		width: 256px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-top: 20px;
		margin-right: -4px;

	}

	&__tel {

		color: #999;
		line-height: 22px;
		white-space: nowrap;

		b {

			color: #fff;
			font-size: 24px;
			line-height: 34px;
			letter-spacing: 2.3px;
			font-weight: 400;
			cursor: text;

		}

	}

	&__search {

		width: 30px;
		height: 30px;
		position: relative;

		&-btn {

			width: 30px;
			height: 30px;
			outline:1px solid blue;
			background: url(/img/sprite.svg) -4px -3px;

			&:hover {

				background-position: -4px -103px;

			}

		}

		&-input {

			position: absolute;
			width: 256px;
			height: 32px;
			top: -2px;
			right: 0;
			border: 1px solid #fff;
			color: #fff;
			padding-left: 12px;
			padding-right: 36px;

			visibility: hidden;
			opacity: 0;

			transition: opacity 0.3s 0s, visibility 0s 0.3s;

			.form--open & {

				opacity: 1;
				visibility: visible;
				transition: opacity 0.3s 0s;

			}

		}

	}

	&__sep {

		height: 20px;
		width: 1px;
		background-color: #a3a3a3;
		margin: 0 20px;

	}

	&__cart {

		font-size: 0;
		color: transparent;
		width: 30px;
		height: 30px;
		outline:1px solid blue;
		background: url(/img/sprite.svg) -50px -3px;

		&:hover {

			background-position: -50px -103px;

		}

	}

}