.header {

	background-color: #000;
	background-image: url(/img/header.png);
	background-position: center top;
	background-repeat: no-repeat;

	&__top {

		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	&__logo {

		order: 2;
		margin: auto;
		font-size: 0;
		color: transparent;
		display: block;
		height: 183px;
		width: 120px;

	}

	&__left {

		order: 1;
		width: 256px;

	}

	&__right {

		order: 3;
		width: 256px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-top: 20px;
		margin-right: -4px;

	}

	&__tel {

		color: #999;
		line-height: 22px;
		white-space: nowrap;

		b {

			color: #fff;
			font-size: 24px;
			line-height: 34px;
			letter-spacing: 2.3px;
			font-weight: 400;

		}

	}

	&__btn-search {

		width: 30px;
		height: 30px;
		outline:1px solid red;
		background: url(/imgs/sprite.svg) -40px -40px;

	}

	&__sep {

		height: 20px;
		width: 1px;
		background-color: #a3a3a3;
		margin: 0 20px;

	}

	&__cart {

		font-size: 0;
		color: transparent;
		width: 30px;
		height: 30px;
		outline:1px solid red;
		background: url(/imgs/sprite.svg) -40px -40px;

	}

}