.home {

	background-color: #d6d6d6;
	border-top: 1px solid #e7e7e7;

	&__box {

		padding: 52px 28px 58px;

		@media ($smWidth) {

			padding: 20px 0 40px;

		}

	}

	&__h1 {

		float: left;
		font-weight: 700;
		font-size: 26px;
		line-height: 40px;
		margin-right: 22px;
		letter-spacing: 3px;

	}

	&__first {

		font-size: 14px;
		line-height: 22px;
		padding-bottom: 8px;

		span {

			display: block;

		}

	}

	p {

		margin-bottom: 20px;

	}

	&__h2 {

		line-height: 36px;
		font-size: 14px;
		font-weight: 400;

	}

	&__list {

		text-transform: uppercase;
		clear: left;
		margin-bottom: 42px;
		letter-spacing: 1.4px;
		position: relative;
		top: -2px;

		@media ($smWidth) {

			margin-bottom: 30px;
			top: 2px;

		}

		li {

			margin-bottom: 10px;

			@media ($smWidth) {

				margin-left: 0 !important;

			}

			&:nth-child(1) {

				margin-left: 127px;

			}

			&:nth-child(2) {

				margin-left: 172px;

				@media ($mdWidth) {

					margin-left: 157px;

				}

			}

			&:nth-child(3) {

				margin-left: 223px;

				@media ($mdWidth) {

					margin-left: 187px;

				}

			}

			&:nth-child(4) {

				margin-left: 260px;

				@media ($mdWidth) {

					margin-left: 217px;

				}

			}

		}

	}

	&__result {

		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
		letter-spacing: 1.8px;
		line-height: 30px;
		padding: 4px 0 30px;

		@media ($smWidth) {

			font-size: 16px;
			letter-spacing: 1.2px;
			line-height: 20px;
			padding: 5px 0;

		}

	}

}