.visible-md,
.visible-sm {

	display: none;

}

.center {

	margin: 0 auto;
	width: 1250px;
	max-width: 100%;
	position: relative;

}

@media $mdWidth {

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 768px;

	}

}

@media $smWidth {

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		max-width: 600px;

	}

}

@media $xsWidth {

}