.menu {

	&__list {

		display: flex;
		justify-content: center;

	}

	&__item {

		flex-shrink: 0;

		&--parent {


		}

	}

	&__link {

		font-size: 14px;
		line-height: 60px;
		text-transform: uppercase;
		padding: 0 24px;
		display: block;
		white-space: nowrap;
		position: relative;
		color: #fff;

		&:hover {

			color: var(--blue);

		}

	}


}