.modal {

	flex-grow: 1;
	display: flex;
	background-color: color(#fff a(95%));
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;

	visibility: hidden;
	pointer-events: none;

	.modal-show & {

		position: relative;
		visibility: visible;
		pointer-events: auto;

	}

	&__item {

		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		bottom: 80px;
		flex-grow: 1;
		display: flex;

		opacity: 0;
		transform: scale(.9);
		pointer-events: none;
		transition: .3s;

		&--active {

			opacity: 1;
			transform: scale(1);
			pointer-events: auto;

		}

		@media ($smWidth) {

			top: 0;
			bottom: 0;
			padding: 0;

		}

	}

	&__box {

		background-color: #000;
		max-height: 100%;
		display: flex;
		margin: auto;

	}

	&__close-btn {

		position: fixed;
		top: 30px;
		right: 15px;
		width: 50px;
		height: 50px;
		font-size: 0;
		color: transparent;
		background-color: transparent;

		@media ($mdWidth) {

			top: 0;
			right: 0;

		}

		&::after,
		&::before {

			width: 2px;
			height: 25px;
			transform: rotate(45deg);
			background-color: #797979;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			content: '';

		}

		&::before {

			transform: rotate(-45deg);

		}

	}

}


.modal-show {

	.wrapper {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;

	}

}