.product {

	padding-bottom: 60px;

	@media $smWidth {

		padding: 20px 0 40px;

	}

	&__primary {

		display: flex;
		padding: 0 0 40px 30px;
		justify-content: space-between;

		@media $mdWidth {

			padding: 10px 0 30px;

		}

		@media $smWidth {

			padding: 0;

		}

	}

	&__desc {

		width: 476px;
		display: flex;
		flex-direction: column;

		@media $mdWidth {

			width: 400px;

		}

		@media $smWidth {

			width: auto;

		}

	}

	@media $desktop {

		.buy-product__cart {

			margin-top: 40px;

		}

	}

	&__img {

		flex-shrink: 0;
		width: 400px;
		padding-top: 10px;
		position: relative;

		@media $mdWidth {

			width: 256px;

		}

		@media $smWidth {

			padding-top: 20px;

		}

		img {

			display: block;
			margin: auto;
			max-width: 100%;

		}

	}

	&__gift {

		position: absolute;
		right: 0;
		bottom: 0;
		color: var(--red);
		text-align: center;
		white-space: nowrap;

		svg {

			display: block;
			fill: var(--red);
			margin: auto;

		}

	}

	&__btns {

		display: flex;
		margin-top: auto;
		margin-bottom: 15px;
		border: 1px solid #d7d7d7;
		border-radius: 20px;

		@media $mdWidth {

			margin: 20px 0;

		}

		@media $smWidth {

			margin-top: 0;
			max-width: 400px;

		}

		a {

			color: #676767;
			line-height: 36px;
			flex-grow: 1;
			text-align: center;
			position: relative;

			@media $desktop {

				&:hover {

					color: var(--red);

				}

			}

			@media ($xsWidth) {

				font-size: 12px;

			}

			&::before {

				position: absolute;
				width: 1px;
				height: 20px;
				top: 0;
				left: 0;
				bottom: 0;
				content: '';
				margin: auto;
				background-color: #d7d7d7;
				pointer-events: none;

			}

			&:first-child::before {

				display: none;

			}

		}

	}

	&__hr {

		height: 20px;
		overflow: hidden;
		background-color: transparent;

		&::before {

			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 10px;
			content: '';
			box-shadow: 0 0 9px rgba(0,0,0,.18);

		}

	}

	.accordion {

		margin-bottom: 60px;

		@media $smWidth {

			margin-bottom: 30px;

		}

	}

	&-table {

		.center {

			padding: 22px 30px;

			@media $mdWidth {

				padding: 0;

			}

		}

		table {

			width: 100%;
			border: 0;
			border-collapse: collapse;

		}

		td,
		th {

			text-align: left;
			color: #6a6a6a;
			font-weight: 400;
			padding: 8px 0;
			vertical-align: top;
			letter-spacing: .7px;

		}

		th {

			text-transform: uppercase;
			padding-right: 18px;
			letter-spacing: 1.5px;
			white-space: nowrap;
			width: 50%;

		}

		tr + tr {

			border-top: 1px solid #eae5e5;

		}

		@media $smWidth {

			table, tbody, tr, td, th {

				display: block;
				padding: 0;

			}

			tr {

				padding: 10px 0;

			}

		}

	}

	&__text {

		margin: 10px 30px;

		p {

			margin: 10px 0;

		}

		b {

			color: var(--red);

		}

	}

}