.slider {

	position: relative;
	text-align: center;
	color: #fff;

	&__item {

		height: 400px;
		position: relative;
		display: flex;
		align-items: center;

		@media ($mdWidth) {

			height: 350px;

		}

		@media ($smWidth) {

			height: 300px;

		}

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			pointer-events: none;
			background-color: color(#000 a(50%));

		}

		.center {

			z-index: 1;

		}

	}

	&__img {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;

		}

	}

	&__title {

		font-size: 46px;
		line-height: 56px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		word-spacing: 2px;
		text-shadow: 0 0 5px #000;

		&::after {

			width: 154px;
			height: 1px;
			display: block;
			margin: 32px auto 30px;
			background-color: #fff;
			content: '';
			text-shadow: 0 0 5px #000;

		}

		@media ($mdWidth) {

			font-size: 32px;
			line-height: 40px;
			letter-spacing: 4px;

		}

		@media ($smWidth) {

			font-size: 26px;
			line-height: 32px;
			letter-spacing: 3px;
			word-spacing: 1px;

			&::after {

				width: 128px;
				margin: 20px auto;

			}

		}

	}

	&__text {

		font-size: 16px;
		line-height: 30px;
		max-width: 640px;
		margin: auto;
		letter-spacing: 2.5px;
		word-spacing: 3px;

		@media ($mdWidth) {

			font-size: 18px;
			line-height: 24px;
			letter-spacing: 1px;
			word-spacing: 1px;

		}

	}

}