.social {

	display: flex;
	justify-content: center;

	&__item {

		margin: 0 12px;

	}

	&__link {

		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		overflow: hidden;
		color: transparent;
		font-size: 0;
		fill: #fff;

		@media $desktop {

			&:hover {

				fill: var(--red);

			}

		}

	}

}