.technology {

	position: relative;
	padding: 38px 0;
	background-color: var(--color);

	&__list {

		display: flex;
		gap: 24px;
		justify-content: space-around;

		@media $mdWidth {

			gap: 20px;

		}

		@media $smWidth {

			display: block;

		}

	}

	&__item {

		text-align: center;
		flex-basis: 1;

	}

	&__ico {

		width: 96px;
		height: 96px;
		transform: rotate(45deg);
		border-radius: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 18px auto 36px;
		border: 2px solid var(--gold);

		@media $mdWidth {

			width: 72px;
			height: 72px;

		}

		svg {

			transform: rotate(-45deg);
			width: 72px;
			height: 72px;
			fill: var(--gold);

		}

	}

	&__name {

		font-weight: 700;
		text-transform: uppercase;
		display: block;
		color: #fff;
		font-size: 14px;
		letter-spacing: 1.2px;

	}

	&__text {

		margin: 13px 20px;
		color: #818181;
		font-size: 14px;

		@media $mdWidth {

			font-size: 13px;

		}

	}

}