.technology {

	position: relative;
	padding: 38px 0;
	background-color: var(--color);

	&__list {

		display: flex;
		gap: 24px;
		justify-content: space-around;

		@media $mdWidth {

			gap: 20px;

		}

		@media $smWidth {

			display: block;

		}

	}

	&__item {

		text-align: center;
		flex-basis: 1;

	}

	&__name {

		font-weight: 700;
		display: block;
		color: var(--gold);
		font-size: 20px;

		@media $mdWidth {

			font-size: 18px;

		}

	}

	&__text {

		margin: 13px 20px;
		color: #fff;
		font-size: 16px;

		@media $mdWidth {

			font-size: 13px;

		}

	}

}