.text-page {

	max-width: 720px;
	margin: auto;

	&--column {

		display: flex;
		gap: 24px;

		@media $smWidth {

			display: block;

		}

	}

	&--text-center {

		text-align: center;

	}

	&__col {

		flex-basis: 50%;

	}

	p {

		margin: 24px 0;

		b {

			font-weight: 500;

		}

	}

	.h2 {

		text-align: inherit;

	}

	.h2 ~ .h2 {

		margin-top: 48px;

	}

}