
details {

	summary {

		list-style: none;
		cursor: pointer;
		position: relative;

		&::-webkit-details-marker {

			display: none;

		}

		&::marker {

			display: none;

		}

		&:focus {

			outline: none;

		}

	}

	& > div {

		animation: opacity .3s;
		border-radius: 3px;
		z-index: 5;

	}

}

.details-img {

	&[open] summary {

		&::after {

			position: absolute;
			left: 50%;
			margin-left: -6px;
			content: '';
			z-index: 1;
			margin-bottom: 4px;
			bottom: 100%;
			border-style: solid;
			border-width: 8px 8px 0;
			border-color: var(--color) transparent;
			animation: opacity .3s;

		}

	}

	& > div {

		width: 236px;
		color: #fff;
		background-color: var(--color);
		padding: 6px;
		position: absolute;
		font-weight: 400;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 12px;
		font-size: 14px;
		bottom: 100%;
		line-height: 16px;
		border-radius: 2px;
		box-shadow: none;
		text-align: center;

	}

}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}