:root {

	--color: #111;

	--red: #c00;

	--error: #f50;

}

$desktop: (min-width: 1200px);
$tablet: (min-width: 768px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);

$retina: (min-resolution: 1.5dppx);