{% set title = "Посудомойки Jacky`s" %}
{% set description = "What’s cooking at your place? With your choice of Everdure under bench, wall mounted ovens or freestanding combined cooker, cooking for your friends and family will be a joy. Whichever model you choose, our ovens have been designed for simple operation and stress – free cooking." %}

{% set urlCurrent = "catalog.html" %}
{% set ogType = "product" %}
{% set ogImage = "img/category/billboard@1x.png" %}

{% extends "template/main.html" %}

{% block content %}

{% set breadcrumbs = ['Главная','Каталог','Посудомойки'] %}

	<section class="cat-desc">

		<div class="cat-desc__billboard">

			<h1 class="cat-desc__h1">
				Посудомойки
			</h1>

			<picture>

				<source srcset="/img/category/billboard@1x.webp 1x, /img/category/billboard@2x.webp 2x" type="image/webp">

				<source srcset="/img/category/billboard@1x.png 1x, /img/category/billboard@2x.png 2x">

				<img src="/img/category/billboard@1x.png" alt="Посудомойки Jacky`s">

			</picture>

		</div>

{% include "_include/breadcrumbs.html" %}

		<div class="center hidden-sm">

			<h2 class="cat-desc__title">
				Посудомойки
			</h2>

			<div class="cat-desc__box">

				<div class="cat-desc__box-img">

					<picture>

						<source srcset="/img/category/washing-machine@1x.webp 1x, /img/category/washing-machine@2x.webp 2x" type="image/webp">

						<source srcset="/img/category/washing-machine@1x.png 1x, /img/category/washing-machine@2x.png 2x">

						<img src="/img/category/washing-machine@1x.png" alt="Посудомойки Jacky`s" width="118" height="118">

					</picture>

				</div>

				<p>
					{{ description }}
				</p>

			</div>

		</div>

		<div class="technology technology--catalog hidden-sm">

			<div class="center">

				<ul class="technology__list">

					<li class="technology__item">

						<div class="technology__ico">

						</div>

						<strong class="technology__name">
							anti-flood stop device
						</strong>

						<p class="technology__text">

							Your appliance will never flood, when installed properly, safety is important to Everdure.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

						</div>

						<strong class="technology__name">
							14 piece setting
						</strong>

						<p class="technology__text">

							Enough room to fit all your pots and pans , so you don’t need to spend time washing dishes.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

						</div>

						<strong class="technology__name">
							6 washing Cylces
						</strong>

						<p class="technology__text">

							Different wash options to ensure your dishes are always nice and clean.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

						</div>

						<strong class="technology__name">
							6 washing Cylces
						</strong>

						<p class="technology__text">

							Different wash options to ensure your dishes are always nice and clean.

						</p>

					</li>

				</ul>

			</div>

		</div>

		<div class="cat-list">

{% set available = [true,false,true,true] %}

{% for item in available %}

			<article class="cat-list__item">

				<div class="cat-list__box center">

					<div class="cat-list__desc">

						<div class="buy-product">

							<a href="/product.html" class="buy-product__title">
								60cm Cast Iron Trivets
							</a>

							<div class="visible-sm">

								<div class="cat-list__img">

									<a href="product.html">

										<picture>

											<source srcset="/img/category/cat-list__product@1x.webp 1x, /img/category/cat-list__product@2x.webp 2x" type="image/webp">

											<source srcset="/img/category/cat-list__product@1x.png 1x, /img/category/cat-list__product@2x.png 2x">

											<img src="/img/category/cat-list__product@1x.png" alt="60cm Cast Iron Trivets">

										</picture>

									</a>

								</div>

							</div>

							<p class="buy-product__text">
								это премиальный бренд, созданный группой талантливых разработчиков, имеющих опыт работы на ведущих заводах по производству бытовой техники в Европе.
							</p>

							<form action="/" class="buy-product__cart">

								<div class="buy-product__price">
									<span class="buy-product__price-value">258 000</span> ₽
								</div>

								<div class="buy-product__available{% if not item %} is-not{% endif %}">
									{% if item %}В наличии{% else %}Нет в наличии{% endif %}
								</div>

								<div class="buy-product__btn">

									<button class="btn btn--buy">
										Купить
									</button>

								</div>

							</form>

						</div>

					</div>

					<div class="cat-list__img hidden-sm">

						<a href="product.html">

							<picture>

								<source srcset="/img/category/cat-list__product@1x.webp 1x, /img/category/cat-list__product@2x.webp 2x" type="image/webp">

								<source srcset="/img/category/cat-list__product@1x.png 1x, /img/category/cat-list__product@2x.png 2x">

								<img src="/img/category/cat-list__product@1x.png" alt="60cm Cast Iron Trivets">

							</picture>

						</a>

					</div>

				</div>

			</article>

{% endfor %}

			<picture>

				<source srcset="/img/vensel.webp 1x, /img/vensel@2x.webp 2x" type="image/webp">

				<source srcset="/img/vensel.png 1x, /img/vensel@2x.png 2x">

				<img class="vensel" src="/img/vensel.png" alt="">

			</picture>

		</div>

	</section>

{% endblock %}