{% set title = "Jacky`s" %}
{% set description = "Премиальный бренд, созданный группой талантливых разработчиков, имеющих опыт работы на ведущих заводах по производству бытовой техники в Европе." %}

{% extends "template/main.html" %}

{% block content %}

{% include "_include/slider.html" %}

{% include "_include/category.html" %}

	<article class="home">

		<div class="center">

			<div class="home__box">

				<h1 class="home__h1">
					Jacky's
				</h1>

				<p class="home__first">
					это премиальный бренд, созданный группой талантливых разработчиков, имеющих опыт работы на ведущих заводах по производству бытовой техники в Европе. <span> Они мечтали создать такой продукт, который смог бы удовлетворить самого взыскательного покупателя и им это удалось.</span>
				</p>

				<h2 class="home__h2">
					<strong class="home__h1">Jacky's</strong> - это:
				</h2>

				<ul class="home__list">
					<li>новые технологические решения</li>
					<li>стильный дизайн</li>
					<li>высокое качество</li>
					<li>максимум функционала за разумные деньги</li>
				</ul>

				<p>
					Всё, что произведено под брендом Jacky's сделано с интуитивно простым управлением, но в тоже время технологичным и отличающимся от обычного продукта стильным и привлекающим внимание дизайном. <br>Взыскательного покупателя и им это удалось.
				</p>

				<p>
					Jacky's это качество, которое подтверждено не просто словами, а делом.
				</p>

				<p>
					Вы можете быть спокойны, покупая технику Английского бренда. <br>Создатели постарались сделать долговечный продукт со сроком службы минимум 10 лет.
				</p>

				<p class="home__result">
					Мы предлагаем то, <br>чем мечтали пользоваться сами и мечта осуществилась!
				</p>

				<img src="/img/vensel.png" alt="">

			</div>

		</div>

	</article>

{% endblock %}