{% set title = "60cm Cast Iron Trivets" %}
{% set description = "это премиальный бренд, созданный группой талантливых разработчиков, имеющих опыт работы на ведущих заводах по производству бытовой техники в Европе." %}

{% set urlCurrent = "product.html" %}
{% set ogType = "product" %}
{% set ogImage = "img/product/img@1x.png" %}

{% extends "template/main.html" %}

{% block content %}

{% set breadcrumbs = ['Главная','Каталог','Посудомойки','60cm Cast Iron Trivets'] %}

{% include "_include/breadcrumbs.html" %}

	<article class="product">

		<script type="application/ld+json">

			{
				"@context": "http://schema.org",
				"@type": "Product",
				"name": "{{ title }}",
				"description": "{{ description }}",
				"image": "{{ url }}{{ ogImage }}",
				"url": "{{ url }}{{ urlCurrent }}",
				"brand": "jacky`s",
				"sku": "id",
				"offers": {
					"@type": "Offer",
					"price": "258000",
					"priceValidUntil": "2019-03-03",
					"availability": "https://schema.org/InStock",
					"priceCurrency": "RUB",
					"url": "{{ url }}{{ urlCurrent }}"
				}

			}

		</script>

		<div class="product__primary center">

			<div class="product__desc">

				<div class="buy-product">

					<h1 class="buy-product__title">
						60cm Cast Iron Trivets
					</h1>

					<div class="product__img visible-sm">

						<a href="/img/product/img@big.jpg" class="gallery">

							<picture>

								<source srcset="/img/product/img@1x.webp 1x, /img/product/img@2x.webp 2x" type="image/webp">

								<source srcset="/img/product/img@1x.png 1x, /img/product/img@2x.png 2x">

								<img src="/img/product/img@1x.png" alt="60cm Cast Iron Trivets">

							</picture>

						</a>

					</div>
					<p class="buy-product__text">
						это премиальный бренд, созданный группой талантливых разработчиков, имеющих опыт работы на ведущих заводах по производству бытовой техники в Европе.
					</p>

					<div class="visible-sm">

						<div class="product__btns">
							<a href="https://webbackend.shriro.com.au/images/upload/files/CBIE622.pdf" target="_blank" rel="nofollow">Характеристики</a>
							<a href="https://webbackend.shriro.com.au/images/upload/files/CBIE622.pdf" target="_blank" rel="nofollow">Инструкция</a>
							<a href="/img/product/img@big.png" class="gallery">Галерея</a>
						</div>

					</div>

					<form action="/" class="buy-product__cart">

						<div class="buy-product__price">
							<span class="buy-product__price-value">258 000</span> ₽
						</div>

						<div class="buy-product__available{% if not item %} is-not{% endif %}">
							{% if item %}В наличии{% else %}Нет в наличии{% endif %}
						</div>

						<div class="buy-product__btn">

							<button class="btn btn--buy">
								Купить
							</button>

						</div>

					</form>

				</div>

				<div class="product__btns hidden-sm">
					<a href="https://webbackend.shriro.com.au/images/upload/files/CBIE622.pdf" target="_blank" rel="nofollow">Характеристики</a>
					<a href="https://webbackend.shriro.com.au/images/upload/files/CBIE622.pdf" target="_blank" rel="nofollow">Инструкция</a>
					<a href="/img/product/img@big.png" class="gallery">Галерея</a>
				</div>

			</div>

			<div class="product__img hidden-sm">

				<a href="/img/product/img@big.jpg" class="gallery">

					<picture>

						<source srcset="/img/product/img@1x.webp 1x, /img/product/img@2x.webp 2x" type="image/webp">

						<source srcset="/img/product/img@1x.png 1x, /img/product/img@2x.png 2x">

						<img src="/img/product/img@1x.png" alt="60cm Cast Iron Trivets">

					</picture>

				</a>

				<script>

					var JACKYS = JACKYS || {};

					JACKYS.gallery = [
						{
							src : '/img/product/img@big.jpg'
						},
						{
							src : '/img/header.png'
						}
					]

/* тут указываем пути к большим фотографиям галереи */

				</script>

			</div>

		</div>

		<hr class="product__hr">

		<div class="technology technology--product">

			<div class="center">

				<ul class="technology__list">

					<li class="technology__item">

						<div class="technology__ico">

						</div>

						<strong class="technology__name">
							anti-flood stop device
						</strong>

						<p class="technology__text">

							Your appliance will never flood, when installed properly, safety is important to Everdure.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

						</div>

						<strong class="technology__name">
							14 piece setting
						</strong>

						<p class="technology__text">

							Enough room to fit all your pots and pans , so you don’t need to spend time washing dishes.

						</p>

					</li>

					<li class="technology__item">

						<div class="technology__ico">

						</div>

						<strong class="technology__name">
							6 washing Cylces
						</strong>

						<p class="technology__text">

							Different wash options to ensure your dishes are always nice and clean.

						</p>

					</li>

				</ul>

			</div>

		</div>

		<div class="accordion">

			<section class="accordion__item">

				<div class="accordion__head">

					<h2 class="center">
						Features and Benefits
					</h2>

				</div>

				<div class="accordion__body">

					<div class="accordion__inner">

{% include "_include/product-table.html" %}

					</div>

				</div>

			</section>

			<section class="accordion__item">

				<div class="accordion__head">

					<h2 class="center">
						Specifications
					</h2>

				</div>

				<div class="accordion__body">

					<div class="accordion__inner">

{% include "_include/product-table.html" %}

					</div>

				</div>

			</section>

		</div>

		<picture>

			<source srcset="/img/vensel.webp 1x, /img/vensel@2x.webp 2x" type="image/webp">

			<source srcset="/img/vensel.png 1x, /img/vensel@2x.png 2x">

			<img class="vensel" src="/img/vensel.png" alt="">

		</picture>

	</article>

{% endblock %}