					<form action="/" class="buy-product__cart in-cart">

						<input type="hidden" name="product" value="123456789">
						<input type="hidden" name="mode" value="del">

						<div class="buy-product__price">
							<span class="buy-product__price-value">258 000</span> ₽
						</div>

						<div class="buy-product__available{% if not item %} is-not{% endif %}">
							<svg width="24" height="24" viewBox="0 0 68 68">
								<path d="m34 0 34 34L34 68.0.0 34z"/>
								<path d="M14 34h40M34 14v40"/>
							</svg>
							{% if item %}
								В наличии
							{% else %}
								Нет в наличии
							{% endif %}
						</div>

						<div class="buy-product__btn">

							<button class="btn btn--buy">

								{% if item.buy %}
									Купить
								{% else %}
									В корзине
								{% endif %}

							</button>

						</div>

					</form>